@tailwind base;
@tailwind components;

.input {
  @apply border py-1 px-3 w-full mb-4 rounded-md bg-gray-100 outline-none;
}
@tailwind utilities;

.mobile {
  position: absolute;
  top: 65px;
  left: 0;
  background-color: rgb(17, 24, 39);
  width: 100vw;
  height: 10vh;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  transition: all 1s;
}
